{% load static %}

<aside class="aside-info">

    <div class="aside-info__wrapper">

        <div class="aside-info__inner">

            <div class="profile-info-picture__wrapper">
                <img src="{{ profile.picture.url }}" 
                    onError="this.src='{% static 'img/default_avatar.jpg' %}'" 
                        class="aside-info__picture img-responsive" 
                        alt="{{ profile.user.username }}">

                {% if user.is_authenticated and profile.user == user %}
                <a class="button rounded-edit-button" href="{% url 'edit_profile_picture' %}">
                    <i class="fad fa-pencil-alt"></i>
                </a>
                {% endif %}
            </div>

            <h2 class="aside-info__username">
                {{ profile.user.username }}
            </h2>

            {% if profile.location %}
            <div class="aside-info__location">
                {{ profile.location }}
            </div>
            {% endif %}

        </div>

    </div>

    {% if profile.is_contact %}

    <div class="contacts">

        <div class="contacts__bar">

            <h3 class="contacts__title">
                Контакты
            </h3>

            {% if user.is_authenticated and profile.user == user %}
            <a href="{% url 'edit_profile_contacts' %}" class="contacts__edit-link">
                Редактировать
            </a>
            {% endif %}

        </div>

        <div class="contacts__list-wrapper">

            {% if profile.vk %}
            <div class="contact-block">
                <span class="contact-block__title">VK</span>
                <a href="https://vk.com/{{ profile.vk }}" 
                    class="contact-block__link" target="_blank">
                    {{ profile.vk }}
                </a>
            </div>
            {% endif %}

            {% if profile.telegram %}
            <div class="contact-block">
                <span class="contact-block__title">Telegram</span>
                <span class="contact-block__text-link">
                    @{{ profile.telegram }}
                </span>
            </div>
            {% endif %}

            {% if profile.twitter %}
            <div class="contact-block">
                <span class="contact-block__title">Twitter</span>
                <a href="https://twitter.com/{{ profile.twitter }}" 
                    class="contact-block__link" target="_blank">
                    @{{ profile.twitter }}
                </a>
            </div>
            {% endif %}

            {% if profile.discord %}
            <div class="contact-block">
                <span class="contact-block__title">Discord</span>
                <span class="contact-block__text-link">
                    {{ profile.discord }}
                </span>
            </div>
            {% endif %}

            {% if profile.facebook %}
            <div class="contact-block">
                <span class="contact-block__title">Facebook</span>
                <a href="https://facebook.com/{{ profile.facebook }}" 
                    class="contact-block__link" target="_blank">
                    {{ profile.facebook }}
                </a>
            </div>
            {% endif %}

            {% if profile.skype %}
            <div class="contact-block">
                <span class="contact-block__title">Skype</span>
                <span class="contact-block__text-link">
                    {{ profile.skype }}
                </span>
            </div>
            {% endif %}

            {% if profile.instagram %}
            <div class="contact-block">
                <span class="contact-block__title">Instagram</span>
                <a href="https://instagram.com/{{ profile.instagram }}" 
                    class="contact-block__link" target="_blank">
                    @{{ profile.instagram }}
                </a>
            </div>
            {% endif %}

            {% if profile.email %}
            <div class="contact-block">
                <span class="contact-block__title">E-mail</span>
                <span class="contact-block__text-link">
                    {{ profile.email }}
                </span>
            </div>
            {% endif %}

        </div>

    </div>
    
    {% endif %}

</aside>