// ----- АНИМАЦИИ ----- //
.post-first
  overflow: hidden
  clear: both
  height: auto
  position: relative
  display: block
  img
    transition: 1s
  &:hover
    img
      transform: scale(1.2)

.post-first_rounded
  border-radius: 50%

.post-first:before
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  opacity: 0
  background: rgba(0, 0, 0, .5)
  transition: opacity 0.25s ease-in-out
  content: ""
  z-index: 100
  cursor: pointer

.post-first:hover:before
  opacity: 1

@keyframes anim-slide-down
  0%
    transform: translateY(-100%)
  100%
    transform: translateY(0)

@keyframes anim-slide-down2
  0%
    transform: translateY(-100%)
  100%
    transform: translateY(0)

@keyframes anim-slide-up
  0%
    transform: translateY(0)
  100%
    transform: translateY(-100%)

@keyframes anim-opacity
	0%
		opacity: 0
	100%
		opacity: 1

.animation-slide-down
	animation: anim-slide-down .5s


.animation-slide-up
	animation: anim-slide-up .5s !important

.collapse
  display: none
  &.show
    display: block !important

.fade 
  opacity: 0
  transition: opacity .15s linear
  &.in
    opacity: 1