.comments
	margin-top: 36px

.comment-form-wrapper
	display: flex
	margin-bottom: 32px
	.comment__img
		margin-right: 30px
		@media only screen and (max-width : 480px)
			margin-right: 15px

.add-comment-form
	width: 100%
	&__submit-button
		float: right
		padding: 6px 14px
		width: 180px
		margin-top: 24px
		@media only screen and (max-width : 480px)
			padding: 3px 7px
			width: 140px
			font-size: 15px
			margin-top: 14px
	&_reply
		margin-top: 32px
		@media only screen and (max-width : 480px)
			margin-top: 24px
	&__textarea
		min-height: 90px
		margin-bottom: 24px
		@media only screen and (max-width : 480px)
			margin-bottom: 14px
			font-size: 15px
			min-height: 60px

.comment
	display: flex
	&:not(:last-child)
		margin-bottom: 30px

.comment_children
	flex-direction: column

.child-comment-indent
	padding-left: 80px
	@media only screen and (max-width : 480px)
		padding-left: 50px

.comment__header
	display: flex
	justify-content: space-between

.comment__author
	font-weight: 800
	color: $text
	text-decoration: none
	@extend %hover-element-accent

.comment__img-link
	display: block
	width: 46px
	height: 46px
	margin-right: 30px
	@media only screen and (max-width : 480px)
		margin-right: 15px
		width: 32px
		height: 32px

.comment__img
	width: 46px
	height: 46px
	border: 1px solid lighten($light-grey, 10%)
	margin-right: 30px
	@media only screen and (max-width : 480px)
		margin-right: 15px
		width: 32px
		height: 32px

.comment__text
	margin-top: 12px
	line-height: 1.6
	font-weight: 500
	word-break: break-word
	&_deleted
		color: $light-grey
	@media only screen and (max-width : 480px)
		font-size: 15px

.comment-info
  display: flex
  align-items: baseline
  flex-wrap: wrap
  color: $light-grey
  @media only screen and (max-width : 480px)
  	font-size: 14px

.comment-info__element
  margin-top: 16px
  &:not(:last-child)
  	margin-right: 20px

.comment-info__time .fa-clock
	margin-right: 10px

.comment-actions__delete
	font-size: 18.5px

.comment__parent-link
	font-weight: 500
	&:after
		content: ','

.comment__reply-link
	font-weight: 500