
// ----- ДЕКОРАТИВНЫЕ КЛАССЫ ----- //
.t-uppercase
  text-transform: uppercase



.img-responsive
  display: block
  max-width: 100%
  height: auto
  &.img-width
    width: 100%

.read-next-button
  margin-top: 16px
  .fa-long-arrow-right
    margin-left: 6px
    margin-top: 3px

.ta-centr
  text-align: center

.img-rounded
  display: block
  border-radius: 50%

.accent-link
  color: $accent
  text-decoration: none
  @extend %hover-element-dark-accent

.black-link
  color: $text
  font-weight: 500
  text-decoration: none
  @extend %hover-element-accent

a.morelink
  color: $accent
  text-decoration: none
  font-weight: 500
  display: block
  margin-top: 12px
  @extend %hover-element-dark-accent

// ----- ДЕКОРАЦИИ КАРУСЕЛИ РЕЛИЗОВ ----- //
.releases
  max-width: 100%
  .container
    min-width: 0 !important


.owl-releases
  overflow: hidden

  .owl-stage
    display: flex
  .owl-dots, .owl-nav
    display: none

.owl-release
  margin-bottom: 40px

.owl-release__fullname
  color: $text
  display: block
  font-weight: 700
  font-size: 16px
  text-decoration: none
  margin-top: 18px
  transition: $base-color-transition

.owl-release__watch-more-link
  display: inline-block
  text-decoration: none
  font-weight: 700
  font-size: 16px
  margin-top: 20px
  color: $light-grey
  @extend %hover-element-accent
  @media only screen and (max-width : 992px)
    margin-top: 14px

.post-first:hover+.owl-release__fullname
  color: $accent