@import "vars"

.page-filters
	margin-bottom: 36px

.pf__sort-button
	margin-top: 8px

.pf__sort
	display: flex
	align-items: baseline
	.fa-sort-down
		margin-left: 6px

.pf-form__input, .pf-form__button
	margin-top: 22px

.select2
	width: 100% !important

.select2-selection
	background-color: #DDDDDD !important
	border: none !important
	border-radius: 5px !important
	height: 100% !important
	display: flex !important
	justify-content: space-between !important
	padding: 8px 16px !important
	font-weight: 500

.select2-selection__rendered
	padding: 0 !important
	color: $light-grey !important

.select2-search__field::placeholder
	color: $light-grey !important
	font-family: 'Avenir', 'Roboto', 'Helvetica', 'Arial', sans-serif
	font-weight: 500 !important

.select2-selection__arrow
	top: auto !important

.select2-selection__arrow b
	border-width: 9px 6px 0 6px !important
	left: auto !important
	margin-left: -6px !important

.select2-selection--multiple
	min-height: 45px !important

.select2-selection__choice
	font-size: 17px

.select2-results__option[aria-selected=true] 
	display: none

.select2-search--inline
  display: contents !important

.select2-search__field:placeholder-shown
  width: 100% !important