@import "vars"

// ----- КНОПКИ ----- //
.button
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  border: 0
  background-color: transparent
  box-shadow: none
  padding: 0
  cursor: pointer
  user-select: none
  -webkit-appearance: none
  -moz-appearance: none
  touch-action: manipulation
  display: inline-flex
  align-items: center
  justify-content: center
  width: auto
  font-family: 'Avenir', 'Roboto', 'Helvetica', 'Arial', sans-serif
  font-weight: 300
  @media only screen and (max-width : 480px)
    font-size: 15px

.button-medium
  width: 300px !important
  @media only screen and (max-width : 768px)
    width: 240px !important

.link-button
  text-decoration: none
  text-transform: uppercase
  font-size: 15px
  padding: 6px 19px
  border: 0
  border-radius: 6px

.accent-button
  background-color: $accent
  text-decoration: none
  border-radius: 5px
  padding: 8px 16px
  font-weight: 500
  color: #fff
  width: 100%
  line-height: 28px
  transition: background-color .25s ease-in-out
  font-family: 'Avenir', 'Roboto', 'Helvetica', 'Arial', sans-serif
  &:hover
    background-color: $dark-accent

.input
  background-color: #fff
  border-radius: 5px
  padding: 8px 16px
  font-weight: 500
  width: 100%
  line-height: 28px
  font-family: 'Avenir', 'Roboto', 'Helvetica', 'Arial', sans-serif
  border: 1px solid $light-grey
  color: $text
  &::placeholder
    color: $light-grey
    opacity: 1

.input_grey
  background-color: #DDDDDD
  border: none
  &::placeholder
    color: $light-grey 
    opacity: 1

.input_white
  background-color: #fff !important
  border: 1px solid $light-grey !important
  &::placeholder
    color: $text !important
    opacity: 1

.form-check-label
  display: flex
  align-items: center

.textarea
  font-family: 'Avenir', 'Roboto', 'Helvetica', 'Arial', sans-serif
  min-height: 250px
  resize: vertical
  border-radius: 5px
  width: 100%
  padding: 12px 20px
  color: $text
  font-weight: 500

.textarea_grey
  background-color: #DDDDDD
  border: none
  &::placeholder
    color: $light-grey
    opacity: 1

.form-help-text
  display: block
  margin-top: 6px
  line-height: 1.4

.form-label
  display: inline-block
  font-weight: 500
  color: $accent
  margin-bottom: 6px

.errorlist
  font-size: 16px
  line-height: 1.3
  color: #CC0000
  font-weight: 500
  li
    margin-top: 12px
    margin-bottom: 20px
    &:before
      display: none
      font-family: "Font Awesome 5 Light";
      content: '\f00d'
    svg
      margin-right: 6px

.box-form
  background-color: #fff
  max-width: 550px
  width: 100%
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1)
  border-radius: 12px
  padding: 40px 100px
  position: relative
  @media only screen and (max-width : 768px)
    padding: 40px 40px
  @media only screen and (max-width : 480px)
    padding: 20px 20px

.box-form__title
  text-align: center
  margin-bottom: 32px
  @media only screen and (max-width : 480px)
    font-size: 22px
    margin-bottom: 20px

.box-form__text
  margin-bottom: 16px
  font-weight: 500
  line-height: 1.2
  font-size: 18px
  @media only screen and (max-width : 480px)
    margin-bottom: 12px
    font-size: 15px

.box-form__exit
  display: block
  font-size: 30px
  position: absolute
  right: 0
  top: 0
  margin: 13px 18px
  color: $light-grey
  @extend %hover-element-accent
  @media only screen and (max-width : 480px)
    font-size: 20px

.box-form__input
  @media only screen and (max-width : 480px)
    font-size: 15px
    padding: 6px 10px

.form-check-label
  color: $text
  font-size: 16px
  display: flex
  align-items: center
  margin: 0
  input
    margin-right: 4px