@import "vars"

.paginator
	font-size: 18px
	display: flex
	flex-wrap: wrap
	@media only screen and (max-width : 480px)
		font-size: 16px !important
	@media only screen and (max-width : 351px)
		font-size: 14px !important


.paginator__item
	font-weight: 500
	padding: 0.6em 0.8em
	line-height: 1
	a
		color: $light-grey
		text-decoration: none
		@extend %hover-element-accent
	@media only screen and (max-width : 480px)
		padding: (.5875em / 1.4) (.8em / 1.4) !important

.paginator__item_active
	color: #fff
	background-color: $accent
	border-radius: 50%
	line-height: 1