@import "vars"

.preloader
  /*фиксированное позицование*/
  position: fixed
  /* координаты положения */
  display: flex
  align-items: center
  justify-content: center
  left: 0
  top: 0
  right: 0
  bottom: 0
  /* фоновый цвет элемент **/
  background: url('../img/bg.jpg') center no-repeat fixed #3d3240
  background-size: cover
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001

.loaded_hiding .preloader
  transition: 0.3s opacity
  opacity: 0

.loaded .preloader
  display: none

.spinner 
  width: 80px
  height: 80px
  background-color: $accent
  border-radius: 100%  
  animation: sk-scaleout 1.0s infinite ease-in-out

@keyframes sk-scaleout 
  0%
    transform: scale(0)
  100% 
    transform: scale(1.0)
    opacity: 0
  

  
