@import "vars"

.nav-tabs
	border-bottom: 1px solid lighten(#000, 70%)
	display: flex
  padding-left: 0
  margin-bottom: 0
  list-style: none

.nav-tabs .nav-item
	margin-bottom: -1px

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-item.active .nav-link
  color: $accent
  background-color: #fff
  border-color: lighten(#000, 70%) lighten(#000, 70%) #fff

.nav-link
  display: block
  padding: .8em 1.3em
  font-weight: 500
  text-decoration: none
  color: lighten(#000, 40%)
  transition: $base-color-transition
  &:hover
  	color: $accent

.nav-tabs .nav-link 
  border: 1px solid transparent
  border-top-right-radius: .25rem
  border-top-left-radius: .25rem
  transition: all .25s ease-in-out
  &:hover
  	border: 1px solid lighten(#000, 75%)

// Hide tabbable panes to start, show them when `.active`
.tab-content>.tab-pane
	display: none

.tab-content>.active
	display: block

.nav-link
  @media only screen and (min-width : 480px)
    .nav-link__icon
      display: none
  @media only screen and (max-width : 480px)
    font-size: 20px
    .nav-link__text
      display: none