@import "vars"

.hide
  display: none !important

.show
  display: block !important

// ----- КАТЕГОРИЯ (СТАТЬИ, НОВОСТИ) ----- //
.category
  color: $accent
  text-transform: uppercase
  text-decoration: none
  display: inline-block
  font-weight: 500
  font-size: 16px
  @extend %hover-element-dark-accent

// ----- ТЭГ (СТАТЬИ, НОВОСТИ) ------ //
.tag
  color: $light-grey
  text-decoration: none
  text-transform: lowercase
  @extend %hover-element-accent
  &:before
    content: "#"



// ----- ТЕКСТОВЫЙ КОНТЕНТ НА САЙТЕ ----- //
.text-content
  line-height: 1.5
  font-size: 20px
  word-break: break-word
  img
    display: block
    max-width: 100%
    height: auto

// ----- КОЛИЧЕСТВО ПРОСМОТРОВ ----- //
.views
  display: flex
  align-items: center
  color: $light-grey
  &__amount
    font-size: 14px
    font-weight: 500
    margin-left: 8px



// ----- СПИСОК, КОТОРЫЙ ИСПОЛЬЗУЕТСЯ В БЛОКАХ ИНФОРМАЦИИ ----- //
.info-list
  list-style: none
  font-size: 18px
  font-weight: 500

.info-list__item
  line-height: 1.4
  margin-bottom: 12px
  color: $text
  word-break: break-word

.info-list__def
  color: $light-grey

.info-list__item_comma
  &:not(:last-child):after
    content: ","
    color: $text


.icon-links
  display: flex
  align-items: center

.icon-links__link
  display: inline-block
  font-size: 28px
  color: $light-grey
  text-decoration: none
  @extend %hover-element-accent

.icon-links__link:not(:first-child)
  margin-left: 24px

.icon-bandcamp-icon
  font-size: 32px

.page-title
  margin-top: 80px
  @media only screen and (max-width : 768px)
    font-size: 14px

// ----- ФУТЕР НОВОСТИ/СТАТЬИ ----- //
.content-footer
  display: flex
  align-items: center
  justify-content: space-between
  margin-top: 36px


// ----- ИНФОРМАЦИЯ О НОВОСТИ/СТАТЬЕ ----- //

.info
  display: flex
  align-items: baseline
  flex-wrap: wrap
  color: $light-grey

.info__element
  margin-right: 20px
  margin-top: 16px

.info__tags
  list-style: none
  padding: 0
  li
    display: inline-block
    line-height: 1.5

.info
  &__author, &__time
    font-size: 15px
  .fa-user, .fa-clock
    margin-right: 10px

.half-wrapper
  display: flex
  .form-group
    width: 50%
    &:first-child
      margin-right: 20px

.g-recaptcha
  @media only screen and (max-width : 374px)
    transform-origin: 0 0
    transform: scale(0.8)
    width: 242px