// ШРИФТЫ //
$default-font: 'Avenir', 'Roboto', 'Helvetica', 'Arial', sans-serif
$header-font: "HelveticaNeueCyrLight", sans-serif

// ЦВЕТА //

$accent: #F057B3
$dark-accent: #C82988
$text: #2E2E2E
$light-grey: lighten($text, 30%)

// ПЕРЕХОДЫ // 
$base-color-transition: color .25s ease-in-out

%hover-element-accent
	transition: $base-color-transition
	&:hover
		color: $accent

%hover-element-dark-accent
	transition: $base-color-transition
	&:hover
		color: $dark-accent

// ОТСТУПЫ //

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
