{% load account %}
{% user_display user as user_display %}
{% autoescape off %}

	<p>Привет,</p>
	<p>Спасибо, что вы с нами! Для дальнейшего пользования сайтом, вам необходимо подтвердить ваш адрес электронной почты. Для этого перейдите по ссылке. Она будет активна в течении одних суток.</p>
	<p>
		<a rel="nofollow" target="_blank" href="{{ activate_url }}">{{ activate_url }}</a>
	</p>

	<p>Если вы не регистрировали аккаунт, или не запрашивали смену почты, проигнорируйте это сообщение.</p>

	<p>администрация сайта Synthrary.</p>

{% endautoescape %}