{% autoescape off %}

	<p>Привет, {{ username }}</p>
	<p>Вы запросили смену пароля для вашего аккаунта. Для этого перейдите по ссылке. Она будет активна в течении одних суток.</p>
	<p>
		<a rel="nofollow" target="_blank" href="{{ password_reset_url }}">{{ password_reset_url }}</a>
	</p>

	<p>Если вы не запрашивали изменение пароля, проигнорируйте это сообщение.</p>

	<p>администрация сайта Synthrary.</p>

{% endautoescape %}
