{% load static %}
<script type="text/javascript" src="{% static 'js/libs/tinymce/tinymce.min.js' %}"></script>
<script>
	tinymce.init({
	  selector: '.tinymce',
	  plugins: 'preview save print paste image link lists searchreplace autolink link media template codesample table charmap hr pagebreak nonbreaking anchor insertdatetime advlist lists wordcount noneditable charmap fullscreen code ',
	  toolbar: 'fullpage bold undo redo | formatselect fontselect fontsizeselect | italic underline strikethrough | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | preview code fullscreen | forecolor backcolor removeformat | pagebreak | charmap save image media link template anchor codesample',
	  contextmenu: false,
	  content_css: "{% static 'css/tinymce/about.css' %}",
	  placeholder: 'Информация',
	  statusbar: false,
	  elementpath: false,
	  width: 'auto',
	  height: 380,
	  min_height: 380,
	  language: 'ru',
	  branding: false,
	  paste_as_text: true,
	  forced_root_block: '',
	  fontsize_formats: "8px 9px 10px 11px 12px 14px 16px 18px 20px 22px 24px 26px 28px 36px 48px 72px",
	});
</script>