{% load utils_tags %}

<div class="row">
    <div class="col-xl">
      <ul class="paginator">
        {% if page.has_previous %}
            {% if page.next_page_number >= 2 or not page.has_next %}
            <li class="paginator__item">
                <a href="?{% param_replace page=page.previous_page_number %}" class="paginator__arrow">
                    <i class="fal fa-long-arrow-left"></i>
                </a>
            </li>
            {% endif %}
        {% endif %}

          {% if page.paginator.num_pages > 1 %}
              {% for n in page.paginator.page_range %}
                {% if page_obj.number|add:'-3' == n %}
                    <li class="paginator__item">
                        <a href="?{% param_replace page=1 %}">1</a>
                    </li>
                  {% if n != 1 %}
                    <li class="paginator__item paginator__breadcrumbs">
                        ...
                    </li>
                  {% endif %}
                {% elif page_obj.number == n %}
                  <li class="paginator__item paginator__item_active">
                    {{ n }}
                </li>
                {% elif page_obj.number|add:'-3' < n and n < page_obj.number|add:'3' %}
                    <li class="paginator__item">
                        <a href="?{% param_replace page=n %}">
                            {{ n }}
                        </a>
                    </li>
                {% elif page_obj.number|add:'3' == n %}
                  {% if n != paginator.num_pages %}
                    <li class="paginator__item paginator__breadcrumbs">
                        ...
                    </li>
                  {% endif %}
                    <li class="paginator__item">
                        <a href="?{% param_replace page=page.paginator.num_pages %}">
                            {{ page.paginator.num_pages }}
                        </a>
                    </li>
                {% endif %}
              {% endfor %}
          {% endif %}

        {% if page.has_next %}

            <li class="paginator__item">
                <a href="?{% param_replace page=page.next_page_number %}" class="paginator__arrow">
                    <i class="fal fa-long-arrow-right"></i>
                </a>
            </li>

        {% endif %}
      </ul>
    </div>
</div>