@import "includes/vars"

body
  background: url('../img/bg.jpg') center no-repeat fixed #333
  background-size: cover

.content
  margin-top: 0

.accounts-form
	display: flex
	justify-content: center
	align-items: center
	padding: 40px
	height: 100%
	@media only screen and (max-width : 480px)
		padding: 20px

.accounts-form__remember
	display: flex
	justify-content: space-between
	align-items: center
	margin-bottom: 20px
	@media only screen and (max-width : 480px)
		flex-direction: column
		justify-content: none
		align-items: flex-start

.accounts-form__password-reset
	font-weight: 500
	@media only screen and (max-width : 480px)
		margin-top: 18px

.form-group_accounts
	margin-bottom: 20px

.accounts-form__button
	margin-top: 12px
	@media only screen and (min-width : 480px)
		padding: 14px 22px

.box-form__question
	margin-top: 32px
	display: flex
	justify-content: center
	align-items: center
	@media only screen and (max-width : 480px)
		flex-direction: column

.box-form__question-link
	font-weight: 500
	margin-left: 3px
	@media only screen and (max-width : 480px)
		margin-left: 0
		margin-top: 8px

#id_remember
  width: 18px
  height: 18px
  background: #FFF
  border: 1px solid $accent
  padding: 0 14px
  color: $text
