@import "includes/vars"

// ----- БЛОК ПУБЛИКАЦИЙ НА ГЛАВНОЙ ----- //
.article
	display: flex
	flex-direction: column
	margin-bottom: 75px

.article__category
	margin-bottom: 12px

.article__picture
	width: 100%
	object-fit: cover
	object-position: 0% 0%

.article__picture_small
	height: 170px
	@media only screen and (max-width : 1200px)
		height: 280px
	@media only screen and (max-width : 992px)
		height: 200px
	@media only screen and (max-width : 768px)
		height: 300px
	@media only screen and (max-width : 480px)
		height: 260px
	@media only screen and (max-width : 374px)
		height: 200px
	@media only screen and (max-width : 320px)
		height: 180px

.article__picture_medium
	height: 280px
	@media only screen and (max-width : 992px)
		height: 360px
	@media only screen and (max-width : 768px)
		height: 300px
	@media only screen and (max-width : 480px)
		height: 260px
	@media only screen and (max-width : 374px)
		height: 200px
	@media only screen and (max-width : 320px)
		height: 180px

.article__picture_big
	height: 900px
	@media only screen and (max-width : 1200px)
		height: 900px
	@media only screen and (max-width : 992px)
		height: 360px
	@media only screen and (max-width : 768px)
		height: 300px
	@media only screen and (max-width : 480px)
		height: 260px
	@media only screen and (max-width : 374px)
		height: 200px
	@media only screen and (max-width : 320px)
		height: 180px

.last-two-articles
	@media only screen and (max-width : 1200px)
		&:last-child
			display: none
	@media only screen and (max-width : 992px)
		.article__picture_small
			height: 360px
	@media only screen and (max-width : 768px)
		.article__picture_small
			height: 300px
	@media only screen and (max-width : 480px)
		.article__picture_small
			height: 260px
	@media only screen and (max-width : 374px)
		.article__picture_small
			height: 200px
	@media only screen and (max-width : 320px)
		.article__picture_small
			height: 180px

.article__title
	font-size: 24px
	font-weight: bold
	text-decoration: none
	color: $text
	line-height: 1.2
	@extend %hover-element-accent
	@media only screen and (max-width : 768px)
		font-size: 22px

.article__title:hover~.post-first:before
	opacity: 1

.article__title:hover~.post-first
	img
      transform: scale(1.2)

.article__info
	margin-bottom: 16px

.article__short-content
	line-height: 1.3
	margin-top: 16px
	font-size: 18px
	@media only screen and (max-width : 768px)
		font-size: 17px

.article__read-more-link
	color: $accent
	text-decoration: none
	font-weight: 500
	@extend %hover-element-dark-accent

.post-first:hover~.article__title
	color: $accent

.article-info-block
	display: flex
	align-items: center
	color: $light-grey
	.fa-user, .fa-clock
		margin-right: 10px
	&__author, &__time
		font-size: 15px

.article-info-block__author
	margin-right: 24px
