@import "includes/_reset.css"
@import "includes/libs"
@import "includes/fonts"
@import "includes/vars"
@import "includes/utils"
@import "includes/animations"
@import "includes/decorations"
@import "includes/filters"
@import "includes/paginators"
@import "includes/forms"
@import "includes/comments"
@import "includes/tabs"
@import "includes/preloader"


// ----- ОСНОВНОЙ HTML ---- //
html
	height: 100%
	color: $text
	min-height: 420px

body
	font-family: 'Avenir', 'Roboto', 'Helvetica', 'Arial', sans-serif
	font-size: 16px
	display: flex
	flex-direction: column
	height: 100%
	min-width: 320px
	font-weight: 400
	overflow-y: hidden

*
	word-break: break-word

::placeholder
	color: $text

::selection
	background-color: $accent
	color: #fff

#page
	display: flex
	flex-direction: column
	height: 100%

// ----- ОСНОВНАЯ РАЗМЕТКА СТРАНИЦЫ ----- //
.content
  flex: 1 0 auto

.intro
	width: 100%

	

// ----- ШАПКА ----- //
.header
	flex: 0 0 auto

.header
	width: 100%
	position: relative
	background-color: #fff
	z-index: 700
	@media only screen and (max-width : 992px)
		margin-bottom: 40px
	
.header__inner
	display: flex
	justify-content: space-between
	align-items: center
	padding: 20px 0
	ul
		list-style: none
		padding: 0
		li
			display: inline-block

.header__logo
	img
	  width: 184px
	  height: auto

.header__buttons
	@media only screen and (max-width : 1200px)
		.header__login, .header__register
			display: none
	@media only screen and (min-width : 1200px)
		.mheader__usermenu-button
			display: none

.header__link
	text-transform: uppercase
	text-decoration: none
	letter-spacing: 1px
	margin-right: 24px
	font-size: 16px
	color: $text
	font-family: $header-font
	font-weight: 300
	@extend %hover-element-accent

.header__login
	margin-right: 16px
	background-color: $accent
	color: #fff
	font-weight: 300
	transition: background-color .25s ease-in-out
	&:hover
		background-color: $dark-accent

.header__register
	border: 1px solid #fff
	color: $text
	font-weight: 300
	border: 1px solid $accent !important
	transition: all .25s ease-in-out
	&:hover
		border-color: $dark-accent !important
		color: $dark-accent

.header__usermenu-button
	color: $text
	font-size: 28px
	@extend %hover-element-accent

.header__usermenu
	position: relative

// ----- STICKY ШАПКА --- //
.header_fixed
	position: fixed !important
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, .2)
	animation: anim-slide-down .5s
	background-color: #fff !important
	.header__inner
		padding: 20px 0
	.header__logo
		display: none
	.header__usermenu-button
		color: $text
		@extend %hover-element-accent
	.header__register
		color: $text
		transition: all .25s ease-in-out
		&:hover
			border-color: $dark-accent !important
			color: $dark-accent
	.header__link
		color: $text
		transition: $base-color-transition
		&:hover
			color: $accent
	.header__buttons .mheader__usermenu-button
		color: $text

.mh-sticky
  position: sticky
  top: 0
  transition: transform 0.2s ease
  transform: translate3d(0, 0, 0)
  &.mh-unpinned
    transform: translate3d(0, -100%, 0)
  @media only screen and (min-width : 992px)
    position: relative !important

// .mh-sticky
// 	position: fixed !important
// 	top: 0
// 	z-index: 10
// 	transition: transform 0.2s ease
// 	transform: translate3d(0, 100%, 0)

// ----- ШАПКА (DESKTOP ВЕРСИЯ) ----- //
.header-desktop
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, .2)
	@media only screen and (max-width : 992px)
		display: none



// ----- ШАПКА (МОБИЛЬНАЯ ВЕРСИЯ) ----- //
.header-mobile
	display: none
	position: fixed
	width: 100%
	padding: 12px 0
	background-color: #fff
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, .2)
	@media only screen and (max-width : 992px)
		display: block
		.container
			display: flex
			justify-content: space-between
			align-items: center



#mheader-menu:not( .mm-menu )
  display: none

#mheader-usermenu:not( .mm-menu )
  display: none

.header .hamburger
	padding: 0

.header .hamburger-box
	position: inherit

.header .hamburger 
	.hamburger-inner, 
	.hamburger-inner:before, 
	.hamburger-inner:after
		background-color: $text
		height: 2px

.header .hamburger.is-active
	.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after
		background-color: $accent

.mm-menu_offcanvas
	width: 80vw

.mm-navbar__title span
	color: $accent
	font-weight: 500

.mheader__usermenu-button
	color: $text
	font-size: 30px

.mheader__link
	text-transform: uppercase
	color: $text


// ----- DROPDOWN ДЛЯ USERMENU В ШАПКЕ ----- //

.dropdown-container
  position: absolute
  z-index: 700
  display: none
  overflow: hidden
  min-width: 280px
  width: 280px
  right: 0
  top: 36px
  margin: 0
  padding: 0
  border: 1px solid #e5e5e5
  border-radius: 3px
  background-color: #fff
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1)
  &__userinfo
	  position: static
	  top: 0
	  display: inline-block
	  box-sizing: border-box
	  width: 100%
	  vertical-align: top
	  padding: 12px 15px
	  text-decoration: none
	  &:hover
	    background-color: $accent
	    color: #fff

.dropdown-container
	&__username
	  font-size: 16px
	  color: $accent
	  display: inline-block
	  vertical-align: baseline
	  line-height: 20px
	  font-weight: 500
	&__profile
	  color: $text
	  font-style: normal
	  font-size: 12px
	  line-height: 14px

.dropdown-container
	&__elements
	  padding: 0
	  margin: 0
	  margin-bottom: 4px
	  background-color: #fff
	  list-style: none
	  font-weight: bold
	  display: flex
	  flex-direction: column
	&__element
	  position: relative
	  display: block
	  white-space: nowrap
	  .fa-cog, .fa-sign-out-alt, .fa-address-card
	    margin-right: 15px
	    font-size: 20px
	    display: inline-block
	    vertical-align: middle
	    position: relative
	    color: $text
	&__link
		display: inline-block
		box-sizing: border-box
		padding: 0 15px
		width: 100%
		color: $text
		text-decoration: none
		font-weight: 400
		font-size: 16px
		line-height: 40px
		&:hover
		  background-color: $accent
		  color: #fff
		  text-decoration: none

.dropdown-container__element-border
  margin-top: 4px
  padding-top: 4px
  border-top: 1px solid #e8e8e8

.dropdown_active .dropdown-container
  display: block

.dropdown-container__userinfo:hover .dropdown-container__username,
.dropdown-container__userinfo:hover .dropdown-container__profile
  color: #fff

.list-padding
	padding-left: 20px

// ----- ФУТЕР ----- //
.footer
	flex: 0 0 auto

.footer
  background-color: #222222 
  background: url('../img/footer.jpg')
  background-size: cover
  width: 100%
  margin-top: 80px
  height: auto
  padding: 32px 0

.footer__social-links
	display: flex
	align-items: center

.footer__social-link
	color: #fff
	text-decoration: none
	display: inline-block
	font-size: 32px
	@extend %hover-element-accent
	&:not(:last-child)
  	margin-right: 20px

.footer-block__name
  color: $accent
  font-size: 16px
  font-weight: 500
  padding-bottom: 10px
  margin-bottom: 10px
  display: block

.footer-block-list
	list-style: none
  padding: 0 
  margin: 0

.footer-block-list__item
  margin-top: 10px
  font-weight: 300
  line-height: 1.4
  a
    color: #fff
    text-decoration: none
    @extend %hover-element-accent

.footer-small
	flex-direction: column
	justify-content: space-between
	align-items: center

.footer-small__logo
	margin-bottom: 20px
	height: auto
	width: 120px

.footer-small-block-list
  width: 100%
  display: flex
  justify-content: space-evenly
  align-items: center
  margin-top: 20px
  @media only screen and (max-width : 374px)
  	flex-direction: column

.footer-small-block-list__item
  font-weight: 500
  line-height: 1.4
  a
    color: #fff
    text-decoration: none
    @extend %hover-element-accent


// ----- СТРАНИЦА ОБРАТНОЙ СВЯЗИ ------ //
.feedback
	margin-top: 24px

.feedback-form__row, .donations-form__row
	margin-bottom: 24px


// ----- СТРАНИЦА ДОНАТОВ ----- //
.top-donators
	@media only screen and (max-width : 768px)
		margin-top: 24px


.donations-form__row
	display: flex

.donations-form__row_payment-provider
	flex-direction: column

.donations-form__text
	font-weight: 500
	margin-top: 24px
	margin-bottom: 24px
	font-size: 18px
	line-height: 1.4

.donation-message
	margin-left: 16px
	width: 100%

.donations
	margin-top: 46px

.donation-amount
	display: flex
	input
		width: 80px
		border-radius: 5px 0 0 5px
	&:after
  	font-weight: 500
  	line-height: 28px
  	background-color: #DDDDDD
  	padding: 8px 16px 8px 0
  	border-radius: 0 5px 5px 0
  	position: relative
  	content: '₽'

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button 
	-webkit-appearance: none

input[type='number']
  -moz-appearance: textfield

.top-donators-list
	display: flex
	flex-wrap: wrap
	margin-top: 10px

.donator
	margin: 6px 6px 6px 0

.donator:hover
	.donator__donated-sum
		display: block

.donation
	display: flex
	align-items: center
	margin-top: 24px
	&__donated-sum
		margin-left: 16px
		font-size: 18px
		font-weight: 500

.donator__donated-sum
	padding: 12px
	color: $accent
	font-size: 18px
	font-weight: 500
	border-radius: 5px 5px 5px 5px
	margin-top: 4px
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .1)
	position: absolute
	background-color: #fff
	z-index: 999
	display: none

.donator__picture
	width: 60px
	height: 60px

.donations-bankdetail
	margin-bottom: 16px
	font-weight: 500

.donations-form__row_payment-bankdetails
	display: none

.donations-bankdetail_listitem
	margin-left: 12px
	margin-top: 6px