@import "includes/vars"

.aside-info
	@media only screen and (max-width : 992px)
		display: none

.half-wrapper
	@media only screen and (max-width : 992px)
		display: block
		.form-group
			width: 100%

.form-group
	margin-bottom: 24px

.page-title
	display: flex
	justify-content: space-between
	align-items: baseline
	flex-wrap: wrap

.back-link
	font-weight: 500
	font-size: 24px
	display: flex
	align-items: center
	line-height: 1.4
	.fa-long-arrow-right
		margin-left: 6px
		margin-top: 3px

.profile-edit-section__navlink
	display: block
	font-size: 36px
	margin-bottom: 16px
	&:hover
		text-decoration: underline
	.fa-pencil-alt
		margin-right: 16px
		font-size: 24px

.profile-edit-block
	margin-bottom: 30px

.profile-edit-block__title
	margin-bottom: 24px

.choose-picture
	display: flex
	@media only screen and (max-width : 480px)
		justify-content: center

.edit-picture
	width: 308px
	height: 308px
	@media only screen and (max-width : 374px)
		width: 290px
		height: 290px


.choose-picture__label
	cursor: pointer
	display: block
	margin-top: 16px
	@extend %hover-element-dark-accent

.choose-picture__small
	color: $light-grey

.edit-picture
	object-fit: cover

.profile-edit-section .nav-tabs
	margin-bottom: 24px