@import "includes/vars"

body
  background: url('../img/bg.jpg') center no-repeat fixed #333
  background-size: cover

.error
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	height: 100vh

.error-message
	text-align: center

.error-code
	font-size: 14em
	color: $accent
	@media only screen and (max-width : 768px)
		font-size: 10em
	@media only screen and (max-width : 374px)
		font-size: 8em

.error-message__text
	color: #fff
	font-size: 28px
	margin: 16px 0 32px 0
	@media only screen and (max-width : 768px)
		font-size: 22px
	@media only screen and (max-width : 374px)
		font-size: 20px