@import "includes/vars"

// ----- ОСНОВНЫЕ СТИЛИ СТРАНИЦЫ ----- //
.content
  margin-top: 0

.intro
	background: url('../img/bg.jpg') center no-repeat #3d3240
	background-size: cover
	display: flex
	flex-direction: column
	justify-content: center
	height: 100vh

.intro__title
	font-size: 48px
	color: $accent
	text-transform: uppercase
	text-shadow: 3px 3px 3px #444 
	letter-spacing: 2px
	line-height: 1.3
	margin: 0 auto
	@media only screen and (max-width : 480px)
		font-size: 36px
	@media only screen and (max-width : 374px)
		font-size: 30px
	@media only screen and (max-width : 320px)
		font-size: 24px

.index-title
	margin-bottom: 60px
	@media only screen and (max-width : 992px)
		margin-bottom: 40px

.watch-all-link
	display: inline-block
	font-weight: 700
	color: $text
	text-decoration: underline
	@extend %hover-element-accent

.releases .watch-all-link
		margin-top: 0


.news, .releases, .articles
	margin-top: 120px
	@media only screen and (max-width : 992px)
		margin-top: 60px



// ----- ПЕРЕОРЕДЕЛЕНИЕ ШАПКИ ----- //
.header
	position: absolute
	background-color: transparent
	top: 0
	left: 0
	&__link
		color: #fff
	&__usermenu-button
		color: #fff
		@extend %hover-element-accent
	&__register
		color: #fff

.header-desktop
	box-shadow: none
	.mheader__usermenu-button
		color: #fff
		@extend %hover-element-accent

.new
	margin-bottom: 40px !important

.article__title
	margin-top: 30px
	margin-bottom: 16px
	font-size: 20px
	font-weight: bold
	text-decoration: none
	color: $text
	line-height: 1.2
	@extend %hover-element-accent
	@media only screen and (max-width : 768px)
		font-size: 18px

.article__short-content
	margin-bottom: 50px
	margin-top: 0 !important