@import "includes/vars"


// ----- ОСНОВНЫЕ СТИЛИ СТРАНИЦЫ ----- //

// ----- БЛОК ИНФОРМАЦИИ О МУЗЫКАНТЕ НА ЕГО СТРАНИЦЕ ----- //
.musician-info
	margin-top: 80px
	@media only screen and (max-width : 768px)
		margin-top: 40px

.musician-info__image
	@media only screen and (max-width : 768px)
		width: 80%
		margin: 0 auto 40px auto

.mi-list__name
	margin-bottom: 16px

.mi-list__name, .info-list__item
	@media only screen and (max-width : 768px)
		line-height: 2


// ----- БЛОК ИНФОРМАЦИИ О МУЗЫКАНТЕ (КОНТАКТЫ) ----- //
.musician-contacts
	&:not(:first-child)
		margin-top: 40px
	@media only screen and (max-width : 992px)
		margin-top: 40px
	@media only screen and (min-width : 992px)
		text-align: right
		.icon-links
			justify-content: flex-end

.musician-contacs__title
	margin-bottom: 20px
	@media only screen and (max-width : 768px)
		font-size: 18px



// ----- БЛОК ИНФОРМАЦИИ О МУЗЫКАНТЕ (ABOUT) ----- //
.musician-about
	margin-top: 80px
	@media only screen and (max-width : 768px)
		margin-top: 40px
		font-size: 18px
	@media only screen and (max-width : 480px)
		font-size: 17px



// ----- БЛОК РЕЛИЗОВ МУЗЫКАНТА ----- //
.mreleases-title
	margin: 60px 0 40px 0



// ----- СТРАНИЦА РЕЛИЗА ----- //
.intro
	background-color: #C4C4C4
	display: flex
	justify-content: center
	height: 640px
	@media only screen and (max-width : 992px)
		height: 940px
	@media only screen and (max-width : 768px)
		height: 1000px

.intro-image
	width: 100%
	object-fit: cover
	object-position: 50% 0%
	filter: brightness(0.3)

.blur
	width: 100%
	height: 640px
	position: absolute
	backdrop-filter: blur(8px)
	@media only screen and (max-width : 992px)
		height: 940px
	@media only screen and (max-width : 768px)
		height: 1000px

.release-container
	padding: 170px 170px 0 170px
	width: 100%
	position: absolute
	word-break: break-word
	display: flex
	@media only screen and (max-width : 1200px)
		padding: 170px 100px 0 100px
	@media only screen and (max-width : 992px)
		padding: 95px 10px 0 10px
		flex-direction: column

.release-intro__img
	box-shadow: 2px 4px 4px 1px rgba(0,0,0, 0.2)
	margin-right: 60px
	@media only screen and (max-width : 992px)
		margin: auto auto 40px auto
	@media only screen and (max-width : 992px)
		margin: auto auto 30px auto


.release-card
	display: flex
	flex-direction: column
	justify-content: space-between
	@media only screen and (max-width : 992px)
		text-align: center

.info-list
	@media only screen and (max-width : 480px)
		font-size: 16px

.info-list__item_comma_release
  &:not(:last-child):after
    content: ","
    color: #fff !important

.rc__full-name
	color: #fff
	line-height: 1.2
	margin-bottom: 12px
	.rc-end
		&:last-child
			display: none
	h1
		display: inline
	@media only screen and (max-width : 1200px)
		font-size: 12px
	@media only screen and (max-width : 480px)
		font-size: 11px


.rc__author-link
	color: $accent
	text-decoration: none
	@extend %hover-element-dark-accent


.rc-bottom-links
	.info-list__item
		display: inline-block
		line-height: 1.4
		margin-bottom: 0
		&:not(:last-child)
			margin-right: 24px
	@media only screen and (max-width : 480px)
		.info-list__item
			display: block
			margin-bottom: 12px
			margin-right: 0 !important
	@media only screen and (min-width : 992px)
		display: flex
		margin-top: 12px

.rc-bottom-links__link
	font-size: 20px
	font-weight: 500
	text-transform: uppercase




.rt-wrapper
	margin-top: 40px

.rt-title
	margin-bottom: 8px

.info-list__def_white
	color: #fff

.release-tracklist
	line-height: 1.8
	font-size: 17px
	font-weight: 500
	li
		counter-increment: list
		display: flex
	li:before
		content: counter(list) '.'
		color: $light-grey
		margin-right: 6px
	@media only screen and (max-width : 768px)
		font-size: 16px

.release-about
	margin: 40px 0
	@media only screen and (max-width : 768px)
		font-size: 18px
	@media only screen and (max-width : 480px)
		font-size: 17px



// ----- СТРАНИЦА РЕЛИЗОВ И МУЗЫКАНТОВ ----- //

.page-item
	margin-bottom: 40px
	@media only screen and (max-width : 576px)
		width: 80%
		margin: 0 auto 40px auto

.pi__title
  color: $text
  display: block
  font-weight: 500
  font-size: 18px
  text-decoration: none
  margin-top: 14px
  @extend %hover-element-accent

.pi__author
  color: $light-grey
  display: block
  font-weight: 500
  font-size: 16px
  text-decoration: none
  margin-top: 8px

.post-first:hover+.pi__title
  color: $accent