@import "includes/vars"

.content
  margin-top: 0

// ----- ОСНОВНЫЕ СТИЛИ СТРАНИЦЫ ----- //
.intro
	background-color: $light-grey
	display: flex
	justify-content: center
	height: 640px

.intro-image
	width: 100%
	object-fit: cover
	object-position: 50% 0%
	filter: brightness(0.3)

.blur
	width: 100%
	height: 640px
	position: absolute
	backdrop-filter: blur(8px)

.intro__title
	font-size: 38px
	display: flex
	align-self: center
	flex-direction: column
	color: #fff
	font-weight: 700
	text-transform: uppercase
	text-align: center
	letter-spacing: 2px
	line-height: 1.3
	position: absolute
	padding: 0 20px
	word-break: break-word
	@media only screen and (max-width : 768px)
		font-size: 28px
	@media only screen and (max-width : 480px)
		font-size: 22px
	@media only screen and (max-width : 374px)
		font-size: 20px

.intro__title_accent
	font-size: 24px
	display: block

// ----- ТЕКСТ НОВОСТИ/СТАТЬИ ----- //
.text-content
	margin-top: 60px


