@import "includes/vars"

// ----- БЛОК НОВОСТЕЙ ----- //
.new
	margin-bottom: 75px

.new__info
	margin-bottom: 16px

.new__title
	font-size: 24px
	font-weight: bold
	text-decoration: none
	color: $text
	line-height: 1.2
	@extend %hover-element-accent
	@media only screen and (max-width : 768px)
		font-size: 22px

.new__title:hover~.post-first:before
	opacity: 1

.new__title:hover~.post-first
	img
      transform: scale(1.2)

.new__time
	margin-top: 10px
	font-size: 15px
	color: $light-grey
	display: flex
	align-items: center
	.fa-clock
		margin-right: 8px

.new__short-content
	margin-top: 16px
	line-height: 1.3
	font-size: 18px
	@media only screen and (max-width : 768px)
		font-size: 17px

