@import "includes/vars"

// ----- ОСНОВНЫЕ СТИЛИ СТРАНИЦЫ ----- //
.aside-info, .profile-info, .profile-edit-section
	margin-top: 60px
	@media only screen and (max-width : 992px)
		margin-top: 30px

// ----- БЛОК ОСНОВНОЙ БОКОВОЙ ИНФОРМАЦИИ ----- //
.aside-info__wrapper
	padding-right: 30px
	border-right: 1px solid lighten(#000, 85%)
	border-bottom: 1px solid lighten(#000, 85%)
	@media only screen and (max-width : 768px)
		border: none
		padding: 0

.aside-info__inner
	display: flex
	flex-direction: column
	align-items: center
	padding-bottom: 12px
	position: relative
	width: 85%
	@media only screen and (max-width : 768px)
		width: 100%

.aside-info__picture
	display: block
	border: 1px solid $light-grey

.profile-info-picture__wrapper
	position: relative

.rounded-edit-button
  width: 50px
  height: 50px
  border-radius: 50%
  background-color: $accent
  transition: all .25s ease-in-out
  position: absolute
  right: -10px
  bottom: -10px
  .fa-pencil-alt
    color: #fff
    font-size: 24px
  &:hover
    background-color: $dark-accent

.aside-info__username
	font-weight: 700
	font-size: 21px
	margin-top: 12px

.aside-info__location
	color: $light-grey
	font-weight: 500
	margin-top: 6px



// ----- БЛОК БОКОВЫХ КОНТАКТОВ ----- //
.contacts
	padding-right: 30px
	padding-bottom: 25px
	border-right: 1px solid lighten(#000, 85%)
	// border-bottom: 1px solid lighten(#000, 85%)
	@media only screen and (max-width : 768px)
		border: none
		padding: 0

.contacts__bar
	display: flex
	align-items: baseline
	padding-top: 24px
	padding-bottom: 28px
	// margin-top: 24px
	// margin-bottom: 28px

.contacts__title
	font-size: 21px
	width: 50%

.contacts__edit-link
	color: $accent
	font-weight: 500
	@extend %hover-element-dark-accent

.contacts__list-wrapper
	display: flex
	flex-wrap: wrap

.contact-block
	margin-bottom: 20px
	width: 50%
	word-wrap: break-word
	text-align: start
	display: flex
	flex-direction: column

.contact-block__title
	font-size: 17px
	display: block
	font-weight: 500
	color: $light-grey
	margin-bottom: 6px

.contact-block__link
	font-weight: 500
	color: $text
	text-decoration: none
	font-size: 17px
	@extend %hover-element-accent

.contact-block__text-link
	font-weight: 500
	color: $text
	font-size: 17px



// ----- БЛОК ОСНОВНОЙ ИНФОРМАЦИИ ----- //
.info-list
	margin-bottom: 32px

.info-list__title
	margin-bottom: 12px
	display: inline-block

.profile-edit-line
	color: $accent
	font-size: 18px
	margin-left: 8px
	@extend %hover-element-dark-accent

.info-list__about
	font-size: 17px
	line-height: 1.4
	font-weight: 500

