{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/music.css' %}">
{% endblock %}
{% block title %}Исполнители{% endblock %}
{% block share %}
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:title" content="Исполнители" />
<meta property="og:type" content="content" />
<meta property="og:description" content="Узнайте больше о Synthwave исполнителях прямо сейчас!" />
<meta property="og:site_name" content="Synthrary" />
{% endblock share %}
{% block content %}
<div class="container">

    <div class="page-title">
        <h1>Исполнители</h1>
    </div>

    {% if musicians %}
        {% include "music/musician/includes/_musicians_filters.html" %}

        <div class="row">
            {% for musician in musicians %}
            <div class="col-lg-3 col-sm-6">
                <div class="page-item">
                    <a href="{% url 'musician_detail' musician.slug %}" 
                        class="post-first" title="{{ musician.name }}">
                        <img src="{{ musician.picture.url }}" 
                            onError="this.src='{% static 'img/default_musician.jpg' %}'" 
                            class="img-responsive" width="100%" height="auto" 
                            alt="{{ musician.name }}">
                    </a>
                    <a href="{% url 'musician_detail' musician.pk %}" class="pi__title">
                        {{ musician.name|truncatechars:38 }}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>


        {% if page_obj.has_other_pages %}
            {% include "includes/_paginator.html" with page=page_obj %}
        {% endif %}

    {% else %}
        {% include "music/musician/includes/_musicians_filters.html" %}
        <div class="row">
            <div class="col-xl">
                <h1 class="h colored-title-accent">
                    По вашему запросу ничего не найдено
                </h1>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}