{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/music.css' %}">
{% endblock %}
{% block title %}Исполнитель: {{ musician.name }}{% endblock %}
{% block share %}
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:title" content="{{ musician.name }}" />
<meta property="og:type" content="content" />
<meta property="og:description" content="Узнайте больше о {{ musician.name }} прямо сейчас!" />
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ musician.picture.url }}" />
<meta property="og:site_name" content="Synthrary" />
{% endblock share %}
{% block content %}
<div class="container">

    <div class="page-title">
        <div class="row">
            <div class="col">
                <h1>Информация об исполнителе</h1>
            </div>
        </div>
    </div>
    

    <div class="musician-info">

        <div class="row">
            <div class="col-lg-3 col-md-5 col-12">
                <img src="{{ musician.picture.url }}" alt="{{ musician.name }}" 
                    class="musician-info__image img-responsive img-rounded" 
                    onError="this.src='{% static 'img/default_musician.jpg' %}'">
            </div>

            <div class="col-lg-4 col-md-6 offset-md-1 col-12">
                <div class="musician-info-list">
                    <h2 class="mi-list__name">
                        {{ musician.name }}
                    </h2>

                    <ul class="info-list">
                        {% if musician.irl_name %}
                            <li class="info-list__item">
                                <span class="info-list__def">
                                    Настоящее имя:
                                </span>
                                {{ musician.irl_name }}
                            </li>
                        {% endif %}
                    
                        {% if musician.gender %}
                            <li class="info-list__item">
                                <span class="info-list__def">
                                    Пол:
                                </span>
                                {{ musician.get_gender_display }}
                            </li>
                        {% endif %}
                    
                        {% if musician.country %}
                            <li class="info-list__item">
                                <span class="info-list__def">
                                    Страна:
                                </span>
                                {{ musician.country }}
                            </li>
                        {% endif %}
                    
                        {% if musician.type %}
                            <li class="info-list__item">
                                <span class="info-list__def">
                                    Тип:
                                </span>
                                <a href="{% url 'musicians' %}?type={{ musician.type }}" class="accent-link">
                                    {{ musician.get_type_display }}
                                </a>
                            </li>
                        {% endif %}

                        {% if musician.members %}
                            <li class="info-list__item">
                                <span class="info-list__def">
                                    Участники:
                                </span>
                                {{ musician.members }}
                            </li>
                        {% endif %}
                    
                        {% if musician.genre.all %}
                            <li class="info-list__item">
                                <span class="info-list__def">
                                    Жанр/ы:
                                </span>
                                  {% for genre in musician.genre.all %}
                                    <a href="{% url 'musicians' %}?genre={{ genre.pk }}" class="info-list__item_comma accent-link">{{ genre.name }}</a>
                                  {% endfor %}
                            </li>
                        {% endif %}
                    
                        {% if musician.other_projects %}
                            <li class="info-list__item">
                                <span class="info-list__def">
                                    Другие проекты:
                                </span>
                                {{ musician.other_projects }}
                            </li>
                        {% endif %}
                    </ul>

                </div>
            </div>
            
            <div class="col-lg-3 offset-lg-1 col-md-6 offset-md-6 col-12">
                {% if musician.is_group %}
                    <div class="musician-contacts">
                        <h2 class="musician-contacs__title">
                            Сообщества
                        </h2>
                        <div class="icon-links">
                            {% if musician.vk_group %}
                            <a href="https://vk.com/{{ musician.vk_group }}" class="icon-links__link"
                            target="_blank">
                                <span class="icon-vk-icon"></span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {% if musician.is_contact %}
                   <div class="musician-contacts">
                        <h2 class="musician-contacs__title">
                           Соц. сети исполнителя
                       </h2>
                       <div class="icon-links">
                           {% if musician.vk %}
                           <a href="https://vk.com/{{ musician.vk }}" 
                               class="icon-links__link"
                               target="_blank">
                               <span class="icon-vk-icon"></span>
                           </a>
                           {% endif %}
                           {% if musician.twitter %}
                           <a href="https://twitter.com/{{ musician.twitter }}" 
                               class="icon-links__link"
                               target="_blank">
                               <span class="icon-twitter-icon"></span>
                           </a>
                           {% endif %}
                           {% if musician.facebook %}
                           <a href="https://facebook.com/{{ musician.facebook }}" 
                               class="icon-links__link"
                               target="_blank">
                               <span class="icon-facebook-icon"></span>
                           </a>
                           {% endif %}
                           {% if musician.instagram %}
                           <a href="https://instagram.com/{{ musician.instagram }}" 
                               class="icon-links__link"
                               target="_blank">
                               <span class="icon-instagram-icon"></span>
                           </a>
                           {% endif %}
                           {% if musician.bandcamp %}
                           <a href="https://{{ musician.bandcamp }}.bandcamp.com/" 
                               class="icon-links__link"
                               target="_blank">
                               <span class="icon-bandcamp-icon"></span>
                           </a>
                           {% endif %}
                       </div>
                   </div>
                {% endif %}

            </div>

            <div class="col-xl-9 col-lg-9 col-md-9">
                {% if musician.about %}
                    <div class="text-content musician-about">
                        {{ musician.about|safe }}
                    </div>
                {% endif %}
            </div>

        </div>

    </div>
    
    

    {% if releases %}
    <div class="musician-releases">
        
            <h2 class="mreleases-title">Релизы</h2>
            {% if releases.count > 4 %}
            <div class="owl-releases">
                {% for release in releases %}
                    <div class="owl-release">
                        <a href="{% url 'release_detail' release.pk %}" 
                            class="post-first" title="{{ release.get_full_name }}">
                            <img src="{{ release.picture.url }}" 
                                onError="this.src='{% static 'img/default_release.jpg' %}'" 
                                class="img-responsive" width="100%" height="auto" 
                                alt="{{ release.title }}">
                        </a>
                        <a href="{% url 'release_detail' release.pk %}" class="owl-release__fullname">
                            {{ release.title|truncatechars:38 }}
                        </a>
                        <a href="{% url 'release_detail' release.pk %}" 
                            title="{{ release.get_full_name }}" 
                            class="owl-release__watch-more-link">
                                Подробнее
                        </a>
                    </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="row">
                {% for release in releases %}
                    <div class="col-lg-3 col-sm-6">
                        <div class="owl-release">
                            <a href="{% url 'release_detail' release.pk %}" 
                                class="post-first" title="{{ release.get_full_name }}">
                                <img src="{{ release.picture.url }}" 
                                    onError="this.src='{% static 'img/default_release.jpg' %}'" 
                                    class="img-responsive" width="100%" height="auto" 
                                    alt="{{ release.name }}">
                            </a>
                            <a href="{% url 'release_detail' release.pk %}" class="owl-release__fullname">
                                {{ release.title|truncatechars:38 }}
                            </a>
                            <a href="{% url 'release_detail' release.pk %}" 
                                title="{{ release.get_full_name }}" 
                                class="owl-release__watch-more-link">
                                    Подробнее
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}

    </div>
    {% endif %}

    <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-9">
            <div class="content-footer">
                <div class="views">
                    <i class="fas fa-eye"></i>
                    <span class="views__amount">
                        {{ hitcount.total_hits }}
                    </span>
                </div>
                <div class="icon-links">
                    <a href="http://vk.com/share.php?url={{ request.build_absolute_uri }}&title={{ musician.name }}&description=Узнайте больше о {{ musician.name }} прямо сейчас!&image={{ request.scheme }}://{{ request.get_host }}{{ musician.picture.url }}" class="icon-links__link" target="_blank">
                        <span class="icon-vk-icon"></span>
                    </a>
                    <a href="http://twitter.com/share?url={{ request.build_absolute_uri }}&text={{ musician.name }}" class="icon-links__link" target="_blank">
                        <span class="icon-twitter-icon"></span>
                    </a>
                    <a href="https://telegram.me/share/url?url={{ request.build_absolute_uri }}" class="icon-links__link" target="_blank">
                        <span class="icon-telegram-icon"></span>
                    </a>
                    <a href="http://www.facebook.com/plugins/like.php?href={{ request.build_absolute_uri }}" class="icon-links__link" target="_blank">
                        <span class="icon-facebook-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}