{% extends "base.html" %}
{% load static %}
{% load account %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/errors.css' %}">
{% endblock %}

{% block title %}404{% endblock %}

{% block header %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
<div class="error">
	<div class="error-message">
		<h1 class="error-code">404</h1>
		<p class="error-message__text">Cтраница не найдена.</p>
	</div>
	<a href="{% url 'index' %}" class="button accent-button button-medium">
		На главную
	</a>
</div>
{% endblock %}