{% load static %}
<!DOCTYPE html>
<html lang="ru" prefix="og: //ogp.me/ns#">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1GQP3XWLGH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-1GQP3XWLGH');
    </script>
    <meta charset="utf-8">
    <title>{% block title %}Synthrary{% endblock title %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" 
        content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="{% static 'img/icons/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" 
        href="{% static 'img/icons/apple-touch-icon-180x180.png' %}">
    <meta name="theme-color" content="#ffffff">

    {% block share %}
    {% endblock share %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://vk.com/js/api/openapi.js?168" type="text/javascript"></script>
    <script>
        FontAwesomeConfig = { searchPseudoElements: true };
    </script>
    <script src="{% static 'js/scripts.min.js' %}" defer data-search-pseudo-elements></script>
    {% block styles %}
    {% endblock styles %}
    {% block js %}
        <script type="text/javascript" src="{% static 'js/header.js' %}" defer></script>
    {% endblock js %}
</head>

<body>

	<div class="preloader">
        <div class="spinner"></div>
    </div>

    <div id="page">
        
        <!-- Блок шапки -->
        {% block header %}

        <header class="header">

            <!-- Шапка для PC -->
            <div class="header-desktop">

                <div class="container">

                    <div class="header__inner"> 

                        <div class="header__logo">

                            <a href="{% url 'index' %}" title="Synthrary">
                                <img src="{% static 'img/logo.svg' %}" 
                                    alt="Synthrary">
                            </a>

                        </div>

                        <nav class="header__navbar">
                            <ul>

                                <li>
                                    <a href="{% url 'index' %}" 
                                        class="header__link" 
                                        title="Главная">
                                        Главная
                                    </a>
                                </li>

                                <li>
                                    <a href="{% url 'news' %}" 
                                        class="header__link" 
                                        title="Новости">
                                        Новости
                                    </a>
                                </li>

                                <li>
                                    <a href="{% url 'articles' %}" 
                                        class="header__link" 
                                        title="Публикации">
                                        Публикации
                                    </a>
                                </li>

                                <li>
                                    <a href="{% url 'releases' %}" 
                                        class="header__link" 
                                        title="Релизы">
                                        Релизы
                                    </a>
                                </li>

                                <li>
                                    <a href="{% url 'musicians' %}" 
                                        class="header__link" 
                                        title="Исполнители">
                                        Исполнители
                                    </a>
                                </li>

                            </ul>
                        </nav>

                        {% if user.is_authenticated %}
                        <div class="header__usermenu">
                            <button type="button" 
                                    class="button header__usermenu-button" 
                                    title="{{ user.username }}">
                                <i class="fal fa-user"></i>
                            </button>

                            <div class="dropdown-container">
                                <a href="{% url 'profile' user.username %}" 
                                    class="dropdown-container__userinfo">

                                    <span class="dropdown-container__username">
                                        {{ user.username }}
                                    </span>
                                    <br />
                                    <span class="dropdown-container__profile">
                                        Профиль
                                    </span>

                                </a>

                                <br />

                                <ul class="dropdown-container__elements">

                                    <li class="dropdown-container__element">
                                        <a href="{% url 'edit_profile' %}" 
                                            class="dropdown-container__link">
                                            <i class="fal fa-address-card"></i>
                                            Редактировать профиль
                                        </a>
                                    </li>

                                    <li class="dropdown-container__element dropdown-container__element-border">
                                        <a href="{% url 'account_settings' %}" 
                                            class="dropdown-container__link">
                                            <i class="fal fa-cog"></i>
                                            Настройки
                                        </a>
                                    </li>

                                    <li class="dropdown-container__element">
                                        <a href="{% url 'account_logout' %}" 
                                            class="dropdown-container__link">
                                            <i class="fal fa-sign-out-alt"></i>
                                            Выход
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        {% else %}
                        <div class="header__buttons">

                            <a href="{% url 'account_login' %}" 
                                title="Вход" 
                                class="link-button header__login">
                                Вход
                            </a>

                            <a href="{% url 'account_signup' %}" 
                                title="Регистрация" 
                                class="link-button header__register">
                                Регистрация
                            </a>

	                        <a href="#mheader-usermenu" class="mheader__usermenu-button" 
	                            title="Вход/Регистрация">
	                            <i class="fal fa-user" id="mheader-user-icon"></i>
	                        </a>

                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- // -->
            
            <!-- Шапка для моб. устройств -->
            <div class="header-mobile mh-head">
                <div class="container">
                    <a href="#mheader-menu" class="hamburger hamburger--squeeze" 
                        id="mheader-hamburger">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                    </a>
                    
                    <nav id="mheader-menu">
                        <ul>
                    
                            <li>
                                <a href="{% url 'index' %}" class="mheader__link" 
                                    title="Главная">
                                    Главная
                                </a>
                            </li>
                    
                            <li>
                                <a href="{% url 'news' %}" class="mheader__link" 
                                    title="Новости">
                                    Новости
                                </a>
                            </li>
                    
                            <li>
                                <a href="{% url 'articles' %}" class="mheader__link" 
                                    title="Публикации">
                                    Публикации
                                </a>
                            </li>
                    
                            <li>
                                <a href="{% url 'releases' %}" class="mheader__link" 
                                    title="Релизы">
                                    Релизы
                                </a>
                            </li>
                    
                            <li>
                                <a href="{% url 'musicians' %}" class="mheader__link" 
                                    title="Исполнители">
                                    Исполнители</a>
                            </li>
                    
                        </ul>
                    </nav>
                    
                    {% if user.is_authenticated %}
                    <a href="#mheader-usermenu" class="mheader__usermenu-button" 
                        title="{{ user.username }}">
                        <i class="fal fa-user"></i>
                    </a>
                    
                    <nav id="mheader-usermenu">
                        <ul>
                    
                            <li class="dropdown-container__element">
                                <a href="{% url 'profile' user.username %}">
                                    <span class="dropdown-container__username">
                                        {{ user.username }}
                                    </span>
                                    <br />
                                    <span class="dropdown-container__profile">
                                        Профиль
                                    </span>
                                </a>
                            </li>
                    
                            <li class="dropdown-container__element">
                                <a href="{% url 'edit_profile' %}">
                                    <i class="fal fa-address-card"></i>Редактировать профиль
                                </a>
                            </li>
                    
                            <li class="dropdown-container__element">
                                <a href="{% url 'account_settings' %}">
                                    <i class="fal fa-cog"></i>Настройки
                                </a>
                            </li>
                    
                            <li class="dropdown-container__element">
                                <a href="{% url 'account_logout' %}">
                                    <i class="fal fa-sign-out-alt"></i>Выход
                                </a>
                            </li>
                    
                        </ul>
                    </nav>
                    {% else %}
                        <a href="#mheader-usermenu" class="mheader__usermenu-button" 
                            title="Вход/Регистрация">
                            <i class="fal fa-user" id="mheader-user-icon"></i>
                        </a>
                    
                        <nav id="mheader-usermenu">
                            <ul>
                    
                                <li>
                                    <a href="{% url 'account_login' %}" 
                                        class="mheader__link" title="Вход">
                                        Вход
                                    </a>
                                </li>
                    
                                <li>
                                    <a href="{% url 'account_signup' %}" 
                                        class="mheader__link" title="Регистрация">
                                        Регистрация
                                    </a>
                                </li>
                    
                            </ul>
                        </nav>
                    {% endif %}
                </div>
            </div>
            <!-- // -->
        </header>

        {% endblock %}
        <!-- // -->



        <div class="content">
            <!-- Блок для создания первого экрана страницы -->
            {% block page-intro %}
            {% endblock %}
            <!-- // -->
            
            <!-- Блок в котором находится контент страницы -->
            {% block content %}
            {% endblock content %}
            <!-- // -->
        </div>


        <!-- Блок подвала -->
        {% block footer %}
        <footer class="footer">

            <div class="container">

                <div class="footer__full d-none d-md-block">
                    <div class="row">
                    
                        <div class="col">
                    
                            <div class="footer-block">
                                <p class="footer-block__name">Аккаунт</p>
                    
                                <ul class="footer-block-list">
                                    {% if user.is_authenticated %}
                    
                                    <li class="footer-block-list__item">
                                        <a href="{% url 'profile' user.username %}" 
                                            title="Профиль">
                                            Профиль
                                        </a>
                                    </li>
                    
                                    <li class="footer-block-list__item">
                                        <a href="{% url 'edit_profile' %}" 
                                            title="Редактировать профиль">
                                            Редактировать профиль
                                        </a>
                                    </li>
                    
                                    <li class="footer-block-list__item">
                                        <a href="{% url 'account_settings' %}">
                                            Настройки
                                        </a>
                                    </li>
                    
                                    <li class="footer-block-list__item">
                                        <a href="{% url 'account_logout' %}" 
                                            title="Выход">
                                            Выход
                                        </a>
                                    </li>
                    
                                    {% else %}
                    
                                    <li class="footer-block-list__item">
                                        <a href="{% url 'account_login' %}" 
                                            title="Войти">
                                            Войти
                                        </a>
                                    </li>
                    
                                    <li class="footer-block-list__item">
                                        <a href="{% url 'account_signup' %}" 
                                            title="Регистрация">
                                            Регистрация
                                        </a>
                                    </li>
                    
                                    {% endif %}
                                </ul>
                            </div>
                    
                        </div>
                    
                        <div class="col">
                    
                            <div class="footer-block">
                                <p class="footer-block__name">Разделы</p>
                    
                                <ul class="footer-block-list">
                    
                                    <li class="footer-block-list__item">
                                        <a href="{% url 'index' %}" 
                                            class="footer-block-list__item" 
                                            title="Главная">
                                            Главная
                                        </a>
                                    </li>
                    
                                    <li class="footer-block-list__item">
                                        <a href="{% url 'news' %}" 
                                            title="Новости">
                                            Новости
                                        </a>
                                    </li>
                    
                                    <li class="footer-block-list__item">
                                        <a href="{% url 'articles' %}" 
                                            title="Публикации">
                                            Публикации
                                        </a>
                                    </li>
                    
                                    <li class="footer-block-list__item">
                                        <a href="{% url 'releases' %}" 
                                            title="Релизы">
                                            Релизы
                                        </a>
                                    </li>
                    
                                    <li class="footer-block-list__item">
                                        <a href="{% url 'musicians' %}" 
                                            title="Исполнители">
                                            Исполнители
                                        </a>
                                    </li>
                    
                                </ul>
                            </div>
                    
                        </div>
                    
                        <div class="col">
                    
                            <div class="footer-block">
                                <p class="footer-block__name">Информация</p>
                    
                                <ul class="footer-block-list">
                                    <li class="footer-block-list__item">
                                        <a href="{% url 'donations' %}" 
                                            title="Донат">
                                            Донат
                                        </a>
                                    </li>
                    
                                    <li class="footer-block-list__item">
                                        <a href="{% url 'feedback' %}" 
                                            title="Обратная связь">
                                            Обратная связь
                                        </a>
                                    </li>
                    
                                </ul>
                            </div>
                    
                        </div>
                    
                        <div class="col">
                    
                            <p class="footer-block__name">Мы в социальных сетях</p>
                            <div class="footer__social-links">
                                <a href="https://vk.com/synthrary" 
                                    class="footer__social-link" 
                                    target="_blank">
                                    <span class="icon-vk-icon"></span>
                                </a>
                            </div>
                    
                        </div>
                    </div>
                </div>

                <div class="footer-small d-flex d-sm-flex d-md-none">

                    <a href="{% url 'index' %}">
                        <img src="{% static 'img/logo.svg' %}" 
                            alt="Synthrary" class="footer-small__logo">
                    </a>
                    
                    <p class="footer-block__name">Мы в социальных сетях</p>
                    <div class="footer__social-links">
                        <a href="https://vk.com/synthrary" 
                            class="footer__social-link" 
                            target="_blank">
                            <span class="icon-vk-icon"></span>
                        </a>
                    </div>

                    

                        <ul class="footer-small-block-list">
                            <li class="footer-small-block-list__item">
                                <a href="" 
                                    title="О сайте">
                                    О сайте
                                </a>
                            </li>

                            <li class="footer-small-block-list__item">
                                <a href="" 
                                    title="Правила">
                                    Правила
                                </a>
                            </li>

                            <li class="footer-small-block-list__item">
                                <a href="{% url 'donations' %}" 
                                    title="Донат">
                                    Донат
                                </a>
                            </li>

                            <li class="footer-small-block-list__item">
                                <a href="{% url 'feedback' %}" 
                                    title="Обратная связь">
                                    Обратная связь
                                </a>
                            </li>

                        </ul>
                    
                    
                </div>

            </div>

        </footer>

        {% endblock footer %}
        <!-- // -->
    </div>

</body>

</html>