body
	font-size: 16px

.mce-content-body 
	padding-bottom: 0 !important
	font-family: 'Roboto'
	font-size: 16px
	line-height: 1.6
	p
		font-size: 16px !important
	*
		margin: 0

img
	max-width: 100%
	height: auto

blockquote
	margin: 0