{% extends 'base.html' %}
{% load static %}
{% load fb_versions %}
{% block styles %}
{% endblock styles %}
{% block js %}
    {{ block.super }}
    <script src="{% static 'js/donations.js' %}" defer></script>
{% endblock js %}
{% block title %}Донаты{% endblock %}
{% block share %}
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:title" content="Донаты" />
<meta property="og:type" content="content" />
<meta property="og:description" content="Вы можете помочь нашему проекту развиваться, сделав небольшое пожертвование." />
<meta property="og:site_name" content="Synthrary" />
{% endblock share %}
{% block content %}
<div class="container">
    <div class="page-title">
        <h1>Донаты</h1>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="donations">
                {% include 'includes/_messages.html' %}
                <p class="donations-form__text">Вы можете помочь нашему проекту развиваться, сделав небольшое пожертвование. Ваши средства пойдут на оплату сервера, труда разбработчика и редакторов.</p>

                <div class="donations-form">
                    <div class="donations-form__row">
                        <div class="donation-amount__wrapper">
                            <div class="donation-amount">
                                <input type="number" name="amount" value="10" class="input input_grey" id="id_amount" required="">
                            </div>
                            <small class="form-help-text">
                                Введите сумму
                            </small>
                        </div>
                        <div class="donation-message">
                            <input type="text" name="message" max="512" class="input input_grey" id="id_message">
                            <small class="form-help-text">
                                Вы можете добавить пожелание
                            </small>
                        </div>
                    </div>
                    <div class="donations-form__row donations-form__row_payment-provider">
                        <select name="payment-provider" class="select form-control" id="id_payment-provider" data-selection-css-class="input_white" required="">
                            <option value="yandex_money" selected="">Yandex Money (ЮMoney)</option>
                            <option value="bankdetails">Показать реквизиты</option>
                        </select>
                        <small class="form-help-text">
                            Выберите удобный способ оплаты
                        </small>
                    </div>

                    <div class="donations-form_row donations-form__row_payment-bankdetails">
                        <p class="donations-bankdetail"><strong>Yandex Money (ЮMoney): </strong>4100116133235065</p>
                        <p class="donations-bankdetail"><strong>Qiwi: </strong>79922309885</p>
                        <ul class="donations-bankdetail">
                            <strong>WebMoney:</strong>
                            <li class="donations-bankdetail_listitem"><strong>WMZ: </strong>Z025464643591</li>
                            <li class="donations-bankdetail_listitem"><strong>WMR: </strong>P159804419585</li>
                        </ul>
                        <p class="donations-bankdetail"><strong>Card: </strong>5469 4900 1393 6832</p>
                        <small class="form-help-text">
                            Вы можете указать свой ник в комментарии платежа, чтобы попасть в список донатов. Пожертвования через Yandex Money (ЮMoney) добавляются автоматически.
                        </small>
                    </div>

                    <button type="submit" class="button accent-button" id="donate-button">
                        Перейти к форме оплаты
                    </button>
                </div>

                <form class="donations-form_yandex" method="POST" action="https://yoomoney.ru/quickpay/confirm.xml">
                    <input type="hidden" name="receiver" value="4100116133235065"> 
                    <input type="hidden" name="formcomment" value="Пожертвование для Synthrary"> 
                    <input type="hidden" name="short-dest" value="Пожертвование для Synthrary"> 
                    <input type="hidden" name="label" value="{% if user.is_authenticated %}{{ user.pk }}{% endif %}">
                    <input type="hidden" name="quickpay-form" value="donate"> 
                    <input type="hidden" name="targets" value="Пожертвование для Synthrary"> 
                    <input type="hidden" name="sum" value="" data-type="number" id="yandex-money_sum"> 
                    <input type="hidden" name="comment" value="" id="yandex-money_comment">
                    <input type="submit" id="yandex-money_submit" style="display: none;">
                </form>

            </div>
        </div>
        <div class="col">
            <div class="top-donators">
                <h2 class="top-donators__title">
                    Список ТОП-донатеров
                </h2>
                <ul class="top-donators-list">
                    {% for donator in donators %}
                    <li class="donator">
                        <a href="{% url 'profile' donator.username %}" class="post-first post-first_rounded">
                            <img src="{% version donator.profile.picture 'admin_thumbnail' %}" onError="this.src='{% static 'img/default_avatar.jpg' %}'" class="img-responsive donator__picture">
                        </a>
                        <div class="donator__donated-sum">
                            {{ donator }}: {{ donator.donated_sum }}₽
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <p class="donations-form__text">Чтобы попасть в список ТОП-донатеров, вы должны быть авторизованы.</p>
            </div>
            <div class="donations">
                <h2 class="donations__title">
                    Последние донаты
                </h2>
                <ul class="donations-list">
                    {% for donation in donations %}
                    <li class="donation">
                        {% if donation.author %}
                        <a href="{% url 'profile' donation.author.username %}" class="post-first post-first_rounded">
                            <img src="{% version donation.author.profile.picture 'admin_thumbnail' %}" onError="this.src='{% static 'img/default_avatar.jpg' %}'" class="img-responsive img-rounded donator__picture">
                        </a>
                        {% else %}
                            <img src="{% static 'img/default_avatar.jpg' %}" class="img-responsive img-rounded donator__picture">
                        {% endif %}
                        <div class="donation__donated-sum">
                            {% if donation.author %}
                            {{ donation.author }} пожертвовал {{ donation.amount }}₽!
                            {% else %}
                            Неизвестный пользователь пожертвовал {{ donation.amount }}₽!
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}