{% extends 'base.html' %}
{% load static %}
{% load users_tags %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
{% endblock %}
{% block title %}Настройки аккаунта{% endblock %}
{% block content %}
<div class="container">
    <div class="page-title">
        <h1>Настройки аккаунта</h1>
        <a href="{% url 'profile' user.username %}" class="accent-link back-link">
            в профиль <i class="fas fa-long-arrow-right"></i>
        </a>
    </div>
    <div class="row">
        <div class="col-lg-5">
            {% include 'account/includes/_profile_aside_info.html' %}
        </div>
        <div class="col-lg-7 col-md-12">
            <div class="profile-edit-section tab-content">
                {% is_current_view 'account_settings' as settings_view_flag %}
                {% is_current_view 'account_change_password' as password_view_flag %}
                {% is_current_view 'account_change_email' as email_view_flag %}

                <ul class="nav-tabs" role="tablist">
                    <li class="nav-item {% if settings_view_flag or password_view_flag %}active{% endif %}">
                        <a class="nav-link" data-toggle="tab" href="#password" role="tab" aria-expanded="{% if settings_view_flag or password_view_flag %}true{% else %}false{% endif %}">Изменить пароль</a>
                    </li>
                    <li class="nav-item {% if email_view_flag %}active{% endif %}">
                        <a class="nav-link" data-toggle="tab" href="#email" role="tab" aria-expanded="{% if email_view_flag %}true{% else %}false{% endif %}">Изменить Email</a>
                    </li>
                </ul>

                {% include 'includes/_messages.html' %}

                <div class="settings-block tab-pane {% if settings_view_flag or password_view_flag %}active fade in{% else %}fade{% endif %}" id="password" role="tabpanel" aria-expanded="{% if settings_view_flag or password_view_flag %}true{% else %}false{% endif %}">
                    <h2 class="profile-edit-block__title">
                        Изменение пароля
                    </h2>
                    <div class="alert alert-info">
                        Если вы забыли пароль, вы можете выполнить его <strong><a href="{% url 'account_reset_password' %}" class="accent-link">восстановление</a></strong>.
                    </div>

                    <form method="POST" action="{% url 'account_change_password' %}">
                        {% csrf_token %}
                        {{ form.non_field_errors }}

                        <div class="form-group">
                            <label for="id_oldpassword" class="form-label">Текущий пароль</label> 
                            <input type="password" class="input" name="oldpassword" required="" id="id_oldpassword">
                            {{ form.oldpassword.errors }}
                        </div>

                        <div class="form-group">
                            <label for="id_password1" class="form-label">Новый пароль</label> 
                            <input type="password" class="input" name="password1" required="" id="id_password1">
                                {{ form.password1.errors }}
                        </div>


                        <div class="form-group">
                            <label for="id_password2" class="form-label">Новый пароль (ещё раз)</label> 
                            <input type="password" class="input" name="password2" required="" id="id_password2">
                                {{ form.password2.errors }}
                        </div>

                        <div class="form-group">
                            {{ form.captcha }}
                            {{ form.captcha.errors }}
                            {{ captcha }}
                        </div>

                        <button type="submit" class="button accent-button">Изменить пароль</button>
                    </form>
                </div>

                <div class="settings-block tab-pane {% if email_view_flag %}active fade in {% else %}fade{% endif %}" id="email" role="tabpanel" aria-expanded="{% if email_view_flag %}true{% else %}false{% endif %}">

                    <h2 class="profile-edit-block__title">
                        Изменение адреса почты
                    </h2>
                    <form method="POST" action="{% url 'account_change_email' %}">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        
                        <div class="form-group">
                            <label for="id_password" class="form-label">Введите пароль</label> 
                            <input type="password" class="input" name="password" required="" id="id_password">
                            {{ form.password.errors }}
                        </div>

                        <div class="form-group">
                            <label for="id_email" class="form-label">Новый адрес</label> 
                            <input type="email" class="input" name="email" required="" id="id_email">
                            {{ form.email.errors }}
                        </div>

                        <div class="form-group">
                            <label for="id_confirm_email" class="form-label">Новый адрес (ещё раз)</label> 
                            <input type="confirm_email" class="input" name="confirm_email" required="" id="id_confirm_email">
                            {{ form.confirm_email.errors }}
                        </div>

                        <div class="form-group">
                            {{ form.captcha }}
                            {{ form.captcha.errors }}
                            {{ captcha }}
                        </div>
                        

                        <button type="submit" class="button accent-button">Сменить почту</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}