{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block title %}Вход{% endblock %}

{% block header %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
<div class="accounts-form">
  <div class="box-form">
    <a href="{% url 'index' %}" class="box-form__exit" title="На главную">
      <i class="fal fa-times"></i>
    </a>
    <h1 class="box-form__title">Вход</h1>
    {{ form.non_field_errors }}
    <form method="post" action="{% url 'account_login' %}">
      {% csrf_token %}

        <div class="form-group form-group_accounts">
          <input placeholder="Имя пользователя или Email" 
            class="input box-form__input" type="text" name="login" 
            autofocus="autofocus"
            required="" id="id_login">
          {{ form.login.errors }}
        </div>

        <div class="form-group form-group_accounts">
          <input placeholder="Пароль" 
            class="input box-form__input" type="password" name="password"
            required="" id="id_password">
          {{ form.password.errors }}
        </div>

        <div class="form-group accounts-form__remember">
            <label for="id_remember" class="form-check-label">
                <input type="checkbox" name="remember" class="checkboxinput form-check-input" id="id_remember">
                Запомнить меня
            </label>
            <a href="{% url 'account_reset_password' %}" class="accent-link accounts-form__password-reset">
                Забыли пароль?
            </a>
        </div>

        <div class="form-group form-group_accounts">
          {{ form.captcha }}
          {{ form.captcha.errors }}
        </div>

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
      <button type="submit" class="button accent-button accounts-form__button">Войти</button>
    </form>
  </div>
</div>
{% endblock %}