{% extends "base.html" %}
{% load static %}
{% load account %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block title %}Подтвердите ваш Email{% endblock %}

{% block header %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
<div class="accounts-form">
  <div class="box-form">
    <a href="{% url 'index' %}" class="box-form__exit" title="На главную">
      <i class="fal fa-times"></i>
    </a>
    <h1 class="box-form__title">Подтвердите ваш Email!</h1>
    <p class="box-form__text ta-centr">На вашу электронную почту было отправлено письмо для подтверждения. Следуйте инструкциям в письме, чтобы завершить процесс регистрации. Проверьте папку <strong>«Спам»</strong> или повторите вход, если вы не получили его в течении нескольких минут.</p>
    <a href="{% url 'index' %}" class="button accent-button accounts-form__button read-next-button">
    	На главную
    	<i class="fas fa-long-arrow-right"></i>
    </a>
  </div>
</div>
{% endblock %}