<div class="page-filters">

    <button href="#collapse" class="collapse-button button pf__sort-button">
        <span class="pf__sort">
            Фильтры
            <i class="fas fa-sort-down"></i>
        </span>
    </button>

    <div class="collapse" id="collapse">

        <form method="GET" class="pf-form">
            <div class="row">  

                <div class="col-lg-3 col-sm-6">
                    <div class="pf-form__input">
                        <input type="text" name="title" 
                            placeholder="По заголовку" class="input input_grey">
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="pf-form__input">
                        <select name="ordering" class="select form-control">
                            <option value="-published_at" selected="">Новое</option>
                            <option value="published_at">Старое</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="pf-form__input">
                        <select name="category" class="select form-control">
                            <option value="" selected="">Все категории</option>
                            {% for category in filter.form.fields.category.queryset %}
                                <option value="{{ category.pk }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="pf-form__input">
                        <input type="text" name="tags" 
                            placeholder="По тэгам" class="input input_grey">
                    </div>
                    <small class="form-help-text">
                        *через запятую или пробел
                    </small>
                </div>

                <div class="col-lg-2 offset-lg-10">
                    <button type="submit" class="button accent-button pf-form__button">
                        Показать
                    </button>
                </div>

            </div>

        </form>

    </div>

</div>