{% load static %}
{% load mptt_tags %}
{% load comments_tags %}

<div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9">
        <div class="comments">

            {% if user.is_authenticated %}
            <div class="comment-form-wrapper">

                <img src="{{ request.user.profile.picture.url }}" 
                    onError="this.src='{% static 'img/default_avatar.jpg' %}'" 
                    class="img-rounded comment__img">

                <form class="add-comment-form" method="POST" 
                    action="{% url 'post_comment' %}">
                    {% csrf_token %}
					{% get_comment_hidden_fields content_object=content_object %}
                    <textarea name="text" 
                        placeholder="Добавьте комментарий..." type="text" 
                        class="textarea textarea_grey add-comment-form__textarea"></textarea>
                    {% initialize_comments_captcha %}
                    <button type="submit" 
                        class="button accent-button add-comment-form__submit-button">
                        Отправить
                    </button>
                </form>

            </div>
            {% endif %}

            {% recursetree comments %}
                {% if node.is_deleted %}
                    {% include 'comments/deleted_comment.html' %}
                {% else %}
                    {% include 'comments/comment.html' %}
                {% endif %}
	            {% if not node.is_leaf_node %}
		            <div class="comment comment_children {% if node.level < 1 %}child-comment-indent{% endif %}">
		                {{ children }}
		            </div>
	            {% endif %}
            {% endrecursetree %}

            {% if comments.has_other_pages %}
                {% include "includes/_paginator.html" with page=page page_obj=comments %}
            {% endif %}

        </div>
    </div>
</div>
