{% load static %}
{% load mptt_tags %}
{% load comments_tags %}
{% load fb_versions %}
<div class="comment">
    <a id="comment-{{ node.pk }}" class="comment-anchor"></a>

    <a href="{% url 'profile' node.author.username %}" class="comment__img-link">
        <img src="{% version node.author.profile.picture 'admin_thumbnail' %}" 
            onError="this.src='{% static 'img/default_avatar.jpg' %}'" 
            class="img-rounded comment__img">
    </a>
    <div class="comment__body">
        <div class="comment__wrapper">

            <div class="comment__header">
                <a href="{% url 'profile' node.author.username %}" 
                    class="comment__author">
                    {{ node.author }}
                </a>
                {% if request.user == node.author and not node.is_day_passed %}
                <div class="comment-actions">
                    <span class="comment-actions__delete">
                        <a href="{% url 'delete_comment' node.pk %}" 
                            class="accent-link" title="Удалить комментарий">
                            <i class="fal fa-times"></i>
                        </a>
                    </span>
                </div>
                {% endif %}
            </div>

            <p class="comment__text">
                {% if node.parent.author %}
                <a href="#comment-{{ node.parent.pk }}" 
                    class="accent-link comment__parent-link">
                    {{ node.parent.author }}</a>
                {% endif %}
                {{ node.text }}
            </p>

            <div class="comment-info">
                <div class="comment-info__element">
                    <span class="comment-info__time">
                        <i class="far fa-clock"></i>{{ node.created_at|date:"d.m.Y в H:i" }}
                    </span>
                </div>
                {% comment %}
                {% if user.is_authenticated %}
                <div class="comment-info__element">
                    <a href="#" class="accent-link comment__reply-link" 
                        data-reply-comment-id="{{ node.pk }}">Ответить</a>
                </div>
                {% endif %}
                {% endcomment %}
            </div>

        </div>

        {% comment %}
        {% if user.is_authenticated %}
        <div class="comment-form-wrapper" id="reply-form-{{ node.pk }}" 
            style="display: none;">
            <form class="add-comment-form add-comment-form_reply" method="POST" 
                action="{% url 'post_comment' %}">
                {% csrf_token %}
                {% get_comment_hidden_fields content_object=content_object %}
                <input type="hidden" name="parent_id" value="{{ node.pk }}">
                <textarea name="text" 
                    placeholder="Добавьте ответ..." type="text" 
                    class="textarea textarea_grey add-comment-form__textarea"></textarea>
                <button type="submit" data-reply-comment-id="{{ node.pk }}"
                    class="button accent-button add-comment-form__submit-button">
                    Отправить
                </button>
            </form>
        </div>
        {% endif %}
        {% endcomment %}

    </div>
</div>