{% load static %}

<div class="comment">
    <a id="comment-{{ node.pk }}" class="comment-anchor"></a>

    <img src="{% static 'img/default_avatar.jpg' %}" 
    class="img-rounded comment__img">

    <div class="comment__body">
        <div class="comment__wrapper">

            <div class="comment__header">
                <p class="comment__author">Комментарий удален</p>
            </div>

            <p class="comment__text comment__text_deleted">
                {% if node.parent.author %}
                <a href="#comment-{{ node.parent.pk }}" 
                    class="accent-link comment__parent-link">
                    {{ node.parent.author }}</a>
                {% endif %}
                <i class="fad fa-trash-alt"></i> комментарий был удален
            </p>

            <div class="comment-info">
                <div class="comment-info__element">
                    <span class="comment-info__time">
                        <i class="far fa-clock"></i>{{ node.created_at|date:"d.m.Y в H:i" }}
                    </span>
                </div>
            </div>

        </div>

    </div>
</div>